apache-airflow==2.7.3
apache-airflow-providers-postgres==5.6.1
airflow-provider-great-expectations==0.2.9
apache-airflow-providers-docker==3.7.5
pandas==1.5.3
dbt-core==1.6.0
dbt-postgres==1.6.0
debugpy
pytest